$primary:       #ee559d;
$secondary:     #ffd1e7;
$alternate:     #ffb7d9;
$blue:          #6bd9ed;

.centered {
    text-align: center;
}

.ovmsurvey-progress {
    display: block;
    width: 100%;
    margin: 1.3em 0;
    padding: 4px;
    border: 0 none;
    background: #dddddd;
    border-radius: 10px;
    height: 18px;

    &::-moz-progress-bar {
        border-radius: 10px;
        background: $primary;
        box-shadow: inset 0 -2px 4px rgba(0,0,0,0.15), 0 2px 5px 0px rgba(0,0,0,0.1);
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        progress {
            height: 20px;
        }
    }
    &::-webkit-progress-bar {
        background: transparent;
    }  
    
    &::-webkit-progress-value {  
        border-radius: 10px;
        background: $primary;
        box-shadow: inset 0 -2px 4px rgba(0,0,0,0.15), 0 2px 5px 0px rgba(0,0,0,0.1); 
    }

    &.hidden {
        background: transparent;
    }
}

.mt-5 {
    margin-top: 25px;
}

.ovmsurvey-competency {
    margin: 30px 0 50px 0;
}

.ovmsurvey-subcompetency {
    color: $primary;
    margin: 30px 0 15px 0;
}

.ovmsurvey-loader {
    circle {
        stroke: $primary;
    }
}

.ovmsurvey-question-row {
    border-radius: 0px;
    border-left: 2px solid $blue;
    margin-bottom: 4px;

    &.checked {
        border-left: 2px solid #C0C0C0;
        background: #f7f7f7;
    }

    .check-svg {
        position: absolute;
        width: 20px;
        margin-top: 18px;
        margin-left: -11px;
        z-index: 2;
        
        g {
            path {
                fill: #C0C0C0;
            }
            polygon {
                fill: white;
            }
        }
    }

    &:hover {
        background: #fff4e8;

        .ovmsurvey-question {
            .ovm-option {
                background: white;
            }
        }
    }

    .ovmsurvey-question {
        padding: 15px 15px 15px 20px;

        .ovm-option-list {
            float: right;
            
            .ovm-option {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                border: 0;
                border: 0px solid #cecece;
                font-weight: bold;
                color: #777777;
                margin: 0 2px;
                box-shadow: 0 0 1px 0px #cecece inset, 0 0 1px 0px #cecece;

                &:focus,
                &:active,
                &.active {
                    background: $primary;
                    color: white;
                    border: 0px solid $primary;
                    box-shadow: 0 0 1px 0px $primary inset, 0 0 1px 0px $primary;

                    &:hover {
                        background: $primary;
                        color: white;
                        border: 0px solid $primary;
                        box-shadow: 0 0 1px 0px $primary inset, 0 0 1px 0px $primary;
                    }
                }

                &:hover {
                    background: $secondary;
                    border: 0px;
                    color: $primary;
                    cursor: pointer;
                }
            }
        }

        &.file {
            .dropzone {
                div {
                    padding: 5px 10px;
                    border: 2px dashed $primary !important;
                    height: auto !important;
                }

                .inputwrapper {
                    height: 50px !important;
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    cursor: pointer;

                    input[type="file"] {
                        cursor: pointer;
                        height: 100%;
                        position:absolute;
                        top: 0;
                        left: 0;
                        content: " ";
                    }
                }
                
                .ovmsurvey-file {
                    margin: 10px 0 0 0;
                    
                    a {
                        background: $primary;
                        color: white;
                        padding: 7px 12px;
                        border-radius: 2px;
                        
                        &:hover,
                        &:focus,
                        &:active {
                            text-decoration: none;
                        }

                        i {
                            padding-right: 4px;
                            color: $alternate;
                        }
                    }
                }
            }
        }

        .ovmsurvey-statement {
            font-size: 1.2em;
        }
    }
}

.ovmsurvey-step {
    margin-top: 30px;

    button:first-child {
        margin-right: 15px;
    }
}

.ovmsurvey-report {
    .table {
        .thead-dark {
            th {
                color: #ffffff;
                background-color: #212529;
                border-color: #32383e;
            }
        }

        .thead-light {
            th {
                color: #495057;
                background-color: #e9ecef;
                border-color: #dee2e6;

                h5 {
                    color: $primary;
                }
            }
        }
    }

    &.combined {
        .ovmsurvey-report-table { 
            width: calc(50% - 30px);
            float: left;

            &:first-child {
                margin-right: 15px;
            }

            &:last-child {
                margin-left: 15px;
            }
        }
    }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#fadein {
    opacity: 0;
    
    &.fadein {
        -webkit-animation: fadeIn 0.25s;
        -webkit-animation-fill-mode: both;
    }
}

.table-results {
    margin-top: 30px;
}

.radar-chart {
    text-align: center;
}

.radar-area {
    fill: #ee559d;
}

.legend {
    fill: #333333;
}

.tooltip {
    fill: #333333;
}

.radar-tooltip {
    background: blue;
}

.tooltips {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #a0a0a0;
    margin-right: 10px;

    i.fa {
        color: #a0a0a0;
    }
}

.tooltips .tooltips-text {
    visibility: hidden;
    min-width: 120px;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 4px 6px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.tooltips .tooltips-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltips:hover .tooltips-text {
    visibility: visible;
    opacity: 1;
} 

@media (max-width: 768px) {
    .ovmsurvey-question-row {
        .ovmsurvey-question {
            .ovm-option-list {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                padding: 15px 0;

                .ovm-option {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}